@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");


body{
    background-color: aliceblue;
    font-family: 'Poppins', sans-serif;
    
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #666565;
}